* {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  padding: 0;
}
body {
  //overflow-x: hidden;
  height: 900px;
}

//Tablet and Mobile View
@media only screen and (max-width: 1099px) {
  body {
    background: white;
  }
  .sidebar {
    p,
    div,
    a {
      display: none;
    }
    h3 {
      font-size: 32px;
      color: #0f27bd;
      margin: 50px 0 0 10vw;
      font-weight: 700;
      display: inline-block;
      span {
        color: #f17105;
      }
    }
    .menu-icon {
      //vertical-align: middle;
      float: right;
      margin: 50px 12vw 0 0;
    }
  }
  .main {
    .nav-right {
      p {
        display: inline-block;
        margin: 50px 20% 0 10vw;
        font-size: 20px;
        font-weight: 500;

        span {
          font-weight: 600;
          font-size: 25px;
        }
      }
      .circle,
      .search {
        display: none;
      }
    }
    .main-info {
      width: 80vw;
      display: block;
      //height: 90vh;
      margin: 40px auto 0 auto;
      border-radius: 8px;
      border: 1px solid #a1a4b6;
      .head {
        height: 70px;
        border-bottom: 2px solid #a1a4b6;
        padding-left: 6%;
        line-height: 70px;
        font-weight: 700;
        font-size: 20px;
      }
      .message-sections,
      .message-sections2 {
        height: 75px;
        border: none;
        border-bottom: 1.2px solid #a1a4b6;
        img {
          vertical-align: middle;
          margin: 10px 2% 0 6%;
        }
        div {
          display: inline-block;
          vertical-align: middle;
          margin-top: 10px;
          width: 60vw;
          :nth-child(1) {
            font-size: 18px;
            font-weight: 500;
          }
          :nth-child(2) {
            font-size: 14px;
            margin-left: 6vw;
          }
          svg {
            width: 12px;
            height: 12px;
          }
          :nth-child(4) {
            font-size: 15px;
          }
        }
      }
      .message-sections2 {
        background: #e7e9f8;
        border-right: 3px solid #0f27bd;
      }
    }
    .right {
      display: none;
    }
  }
}

//Laptop View
@media only screen and (min-width: 1101px) {
  .menu-icon {
    display: none;
  }
  .sidebar {
    float: left;
    background: #e7e9f8;
    color: #a1a4b6;
    height: 70%;
    width: 24vw;
    h3 {
      font-size: 32px;
      color: #0f27bd;
      text-align: center;
      margin-top: 50px;
      font-weight: 700;
      span {
        color: #f17105;
      }
    }
    .menu {
      font-size: 16px;
      font-weight: 600;
      margin: 50px 0 20px 20%;
      color: #0f27bd;
    }
    div {
      margin: 0 0 40px 20%;
      font-size: 18px;
      svg {
        vertical-align: middle;
        margin-right: 5px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .messages {
      background: white;
      padding: 18px 0 18px 15%;
      margin-left: 0;
      color: #0f27bd;
    }
    .logout {
      color: red;
      font-weight: 550;
      font-size: 15px;
      text-align: center;
      margin: 50% 20%;
      svg {
        vertical-align: middle;
      }
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .main {
    float: right;
    width: 70vw;
    //text-align: center;
    .nav-right {
      vertical-align: middle;
      margin-top: 50px;
      p {
        display: inline-block;
        margin: 0 20% 0 1vw;
        font-size: 20px;
        font-weight: 500;
        vertical-align: middle;
        span {
          font-weight: 700;
          font-size: 23px;
        }
      }
      input {
        width: 20vw;
        height: 32px;
        background: #fafafb;
        vertical-align: middle;
        border: 1.2px solid #a1a4b6;
        border-radius: 8px;
        padding: 2px 32px;
        &:focus {
          border: 2px solid #a1a4b6;
          outline: none;
        }
      }
      .search::before {
        content: "kjjf";
        color: transparent;
        position: absolute;
        top: 0;
        margin: 0 0 0 5px;
        margin-top: 66px;
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.17502 16.6832C13.3218 16.6832 16.6834 13.3216 16.6834 9.17484C16.6834 5.0281 13.3218 1.6665 9.17502 1.6665C5.02828 1.6665 1.66669 5.0281 1.66669 9.17484C1.66669 13.3216 5.02828 16.6832 9.17502 16.6832Z' fill='%23717591'/%3E%3Cpath d='M18.325 15.7917C18.05 15.2833 17.4667 15 16.6834 15C16.0917 15 15.5834 15.2417 15.2834 15.6583C14.9834 16.075 14.9167 16.6333 15.1 17.1917C15.4584 18.275 16.0834 18.5167 16.425 18.5583C16.475 18.5667 16.525 18.5667 16.5834 18.5667C16.95 18.5667 17.5167 18.4083 18.0667 17.5833C18.5084 16.9417 18.5917 16.3 18.325 15.7917Z' fill='%23717591'/%3E%3C/svg%3E%0A");
      }
      .circle {
        background: #e7e9f8;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        svg {
          margin: 7px auto;
        }
      }
    }

    .main-info {
      display: block;
      width: 63vw;
      height: 90vh;
      margin: 40px 0%;
      border-radius: 8px;
      border: 1px solid #a1a4b6;
      .left {
        float: left;
        height: 100%;
        width: 39.5%;
        border-right: 2px solid #a1a4b6;
        .head {
          height: 70px;
          border-bottom: 1px solid #a1a4b6;
          text-align: center;
          line-height: 70px;
          font-weight: 700;
          font-size: 20px;
        }
        .message-sections,
        .message-sections2 {
          height: 75px;
          border: none;
          border-bottom: 1.2px solid #a1a4b6;
          img {
            vertical-align: middle;
            margin: 10px 0% 0 15px;
          }
          div {
            display: inline-block;
            vertical-align: middle;
            margin-top: 10px;
            :nth-child(1) {
              font-size: 18px;
              font-weight: 500;
            }
            :nth-child(2) {
              font-size: 14px;
              margin-left: 1vw;
            }
            svg {
              width: 12px;
              height: 12px;
            }
            :nth-child(4) {
              font-size: 15px;
            }
          }
        }
        .message-sections2 {
          background: #e7e9f8;
          border-right: 3px solid #0f27bd;
        }
      }
      .right {
        float: right;
        background: #e7e9f8;
        width: 60%;
        height: 100%;
        .head {
          height: 70px;
          border-bottom: 1px solid #a1a4b6;
          font-weight: 500;
          font-size: 16px;
          line-height: 70px;
          img {
            width: 45px;
            height: 45px;
            text-align: left;
            margin-left: 30px;
            vertical-align: middle;
            line-height: 50px;
          }
        }
        .hr-lines {
          position: relative;
          max-width: 400px;
          margin: 20px auto;
          text-align: center;
        }
        .hr-lines:before {
          content: " ";
          height: 1.5px;
          width: 160px;
          background: #a1a4b6;
          display: block;
          position: absolute;
          top: 50%;
          left: 3%;
        }
        .hr-lines:after {
          content: " ";
          height: 1.5px;
          width: 160px;
          background: #a1a4b6;
          display: block;
          position: absolute;
          top: 50%;
          right: 3%;
        }
        .sender-message {
          height: contain;
          margin: 25px 0 15px 3%;
          width: 50%;
          background: white;
          color: black;
          font-size: 16px;
          padding: 10px;
          border-radius: 8px 8px 8px 0px;
        }
        .my-message {
          height: contain;
          background: #0f27bd;
          color: white;
          font-size: 16px;
          border-radius: 8px 8px 0px 8px;
          padding: 8px;
          width: 45%;
          margin: 12px 4% 0 48%;
          //float: right;
        }
        .error {
          margin: 12px 2% 0 52%;
          color: #0f27bd;
          font-size: 14px;
          font-weight: 550;

          svg {
            vertical-align: middle;
            margin-right: 3px;
          }
          :nth-child(2) {
            color: red;
            margin-right: 4%;
          }
        }
        .message-bar {
          display: block;
          width: 90%;
          height: 27px;
          border-radius: 7px;
          border: 1px solid #a1a4b6;
          padding: 10px 15px;
          margin: 20% 3% 0 3%;
          &:focus {
            border: 2px solid #a1a4b6;
            outline: none;
          }
        }
        label::before {
          content: "iiiioggi";
          position: absolute;
          color: transparent;
          margin: 15px 15px 0 32%;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='14' height='23' viewBox='0 0 14 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5605 5.99853V17.4985C11.5605 19.7085 9.5468 21.4985 7.06055 21.4985C4.5743 21.4985 2.56055 19.7085 2.56055 17.4985V4.99853C2.56055 4.33549 2.85686 3.69961 3.38431 3.23077C3.91175 2.76193 4.62713 2.49854 5.37305 2.49854C6.11897 2.49854 6.83434 2.76193 7.36178 3.23077C7.88923 3.69961 8.18555 4.33549 8.18555 4.99853V15.4985C8.18555 16.0485 7.6793 16.4985 7.06055 16.4985C6.4418 16.4985 5.93555 16.0485 5.93555 15.4985V5.99853H4.24805V15.4985C4.24805 16.1616 4.54436 16.7975 5.07181 17.2663C5.59925 17.7351 6.31462 17.9985 7.06055 17.9985C7.80647 17.9985 8.52184 17.7351 9.04928 17.2663C9.57673 16.7975 9.87305 16.1616 9.87305 15.4985V4.99853C9.87305 2.78854 7.8593 0.998535 5.37305 0.998535C2.8868 0.998535 0.873047 2.78854 0.873047 4.99853V17.4985C0.873047 20.5385 3.64055 22.9985 7.06055 22.9985C10.4805 22.9985 13.248 20.5385 13.248 17.4985V5.99853H11.5605Z' fill='%230F27BD'/%3E%3C/svg%3E%0A");
        }
        label::after {
          content: "iiiioggi";
          position: absolute;
          color: transparent;
          margin: -32px 15px 0 34%;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4354 0.581983C18.9352 0.0685981 18.1949 -0.122663 17.5046 0.0786645L1.408 4.75952C0.679698 4.96186 0.163487 5.54269 0.0244302 6.28055C-0.117628 7.0315 0.378575 7.98479 1.02684 8.38342L6.0599 11.4768C6.57611 11.7939 7.24238 11.7144 7.66956 11.2835L13.4329 5.4843C13.723 5.18231 14.2032 5.18231 14.4934 5.4843C14.7835 5.77623 14.7835 6.24935 14.4934 6.55134L8.71999 12.3516C8.29181 12.7814 8.21178 13.4508 8.52691 13.9702L11.6022 19.0538C11.9623 19.6577 12.5826 20 13.2628 20C13.3429 20 13.4329 20 13.513 19.9899C14.2933 19.8893 14.9135 19.3558 15.1436 18.6008L19.9156 2.52479C20.1257 1.84028 19.9356 1.09537 19.4354 0.581983Z' fill='%230F27BD'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
}
